.loading-container {
    height: 100vh;
    /* Full height */
    background: #1e3c72;
    /* Background color */
    color: white;
    /* Text color */
    flex-direction: column;
    /* Stack spinner and text */
}

.loading-text {
    font-size: 1.5rem;
    /* Adjust size as needed */
    color: #ffcc00;
    /* Highlight color */
    margin-top: 10px;
    /* Space between spinner and text */
}