.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Ensure this is lower than the z-index of other content */
}

.NavBar {
  z-index: 2;
  /* Example for higher z-index */
}

.Home {
  z-index: 2;
  /* Example for higher z-index */
}